*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/target/

/logs
/log
/lemon-cloud

#Builtapplicationfiles
*.apk
*.ap_

#FilesfortheDalvikVM
*.dex

#Javaclassfiles
*.class

#Generatedfiles
bin/
gen/

#Gradlefiles
.gradle/
build/

#Localconfigurationfile(sdkpath,etc)
local.properties

#ProguardfoldergeneratedbyEclipse
proguard/

#LogFiles
*.log

#Others
.idea/
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
