<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lemon.security.dao.IMenuPermissionDao">
	<resultMap id="menuPermissionResultMap" type="cn.lemon.security.entity.MenuPermission">
		<id property="id" column="id" />
		<result property="menuId" column="menu_id"/>
		<result property="code" column="code"/>
		<result property="name" column="name"/>
		<result property="url" column="url"/>
		<result property="remark" column="remark"/>
		<result property="creator" column="creator"/>
		<result property="createdDate" column="created_date"/>
	</resultMap>

	<!--查询实体数据-->
	<select id="find" resultMap="menuPermissionResultMap">
		select * from menu_permission 
		<where>
		    <if test="usable!=null">
		        and usable=#{usable}
		    </if>
		</where>
		limit 1 
	</select>

	<!--查询实体数据-->
	<select id="findById" resultMap="menuPermissionResultMap">
		select * from menu_permission where id=#{id} limit 1 
	</select>

	<!--查询列表数据-->
	<select id="findAll" resultMap="menuPermissionResultMap">
		select * from menu_permission p
		<where>
			<if test="userId!=null">
				and EXISTS(SELECT 1 FROM role_menu m, user_role r WHERE m.role_id = r.role_id AND r.user_id=#{userId} AND FIND_IN_SET(p.id ,m.permissions))
			</if>
		</where>
	</select>

	<!--查询分页列表数据-->
	<select id="findPage" resultMap="menuPermissionResultMap">
		select * from menu_permission 
		<where>
		    <if test="usable!=null">
		        and usable=#{usable}
		    </if>
		</where>
		<if test="sort!=null and sort!=''">
		    order by ${sort} ${order}
		</if>
	</select>

	<!--保存数据-->
	<insert id="save" parameterType="cn.lemon.security.entity.MenuPermission" useGeneratedKeys="true" keyProperty="id">
		insert into menu_permission(
			menu_id,
			code,
			name,
			url,
			remark,
			creator,
			created_date) values(
			#{menuId},
			#{code},
			#{name},
			#{url},
			#{remark},
			#{creator},
			#{createdDate})
	</insert>

	<!--更新数据-->
	<update  id="update" parameterType="cn.lemon.security.entity.MenuPermission">
		update menu_permission
		<set> 
			<if test="menuId!=null">
				menu_id=#{menuId},
			</if>
			<if test="code!=null">
				code=#{code},
			</if>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="url!=null">
				url=#{url},
			</if>
			<if test="remark!=null">
				remark=#{remark},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--删除数据-->
	<delete  id="delete">
		delete from menu_permission where id=#{id}
	</delete>

	<!--逻辑删除数据-->
	<delete  id="deleteBySoft">
		update menu_permission set usable=0 where id=#{id}
	</delete>

</mapper>
